body{
  display: block;
  margin: auto;
  background-color: #ffecf1;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #ffffff;
  padding: 20px;
}

.logo {
  width: 100px;
  display: block;
	margin: auto;

}

main{
  text-align: center;
}

h1{
  color: #ff2a2a;
}

footer{
 background-color: #0024fe;
 color: #ffffff;
 text-align: center;
 padding: 20px;
 bottom:  0;
}

.profileimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container {
  position: relative;
  width: 50%;
}

.TV{
width: 200px;
margin: auto;
}

.image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}


.hide {
  display: none;
}

.text{
  background: #FFB5C6;
  width: 400px;
  margin: auto;
  padding: 20px;
}

.TV:hover + .hide {
  display: block;
  color: red;
}

/*
.image-1{
  
}

.text-1{
  display: none;
}

.TV-1{
  background-color: red;
}

.TV-1:hover{
  background-color: yellow;
}

.TV-3{
  background-color:;
}
.text-3{
  color: darkgrey
  opacity: 0;
}

.TV-3:hover{
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 100;
}

.overlay {
  
  background-color: #008CBA;
  width: 100%;
  height: 100%;
  transition: .3s ease;
*/