@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oooh+Baby&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
  background-color: #ffecf1;
}

header{
  background-color: #ffffff;
  padding: 30px;
}

.logo {
  width: 100px;
  display: block;
	margin: auto;
}

main{
  text-align: center;
  padding: 40px;
}

.title {
  width: 70%;
  margin: auto;
  padding: 20px;
}

/* text fonts */
h1 {
  font-family: "Oooh Baby", Arial, sans-serif;
  font-size: 70px;
  letter-spacing: 3px;
  color: #ff2a2a;
}

h2 {
  font-family: 'Bebas Neue', arial, serif;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ff2a2a;
}

h3 {
  font-family: 'Bebas Neue', arial, serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #ff2a2a;
}


p {
  font-family: 'Roboto', arial, serif;
  font-size: 14px;
  color: #000;
}
a {
  font-family: 'Roboto', arial, serif;
  color: #ff2a2a;
  text-decoration: none;
}
a:hover{
  font-family: 'Roboto', arial, serif;
  color: #000;
  text-decoration: none;
}

.TV{
width: 300px;
margin: auto;
padding: 10px 10px;
}

.image{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.TV a:hover{
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.text {
  background: #FFB5C6;
  width: 400px;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.TV:hover + .hide {
  opacity: 1;
}

footer p{
  color: #ff2a2a;
}
footer{
  background-color: #FFB5C6;
  text-align: center;
  padding: 20px;
  bottom:  0;
 }
 
 .profileimg{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   padding: 20px 30px;
 }